$bg-brown: #815b5b;
$text-pink: #e478ac;
$text-black: #000000;
$text-brown: #f09659;

* {
	font-family: 'Inter', sans-serif;
}

.txt-bodoni {
	font-family: 'Libre Bodoni', serif;
}

.txt-normal {
	font-size: 20px;
	line-height: 35px;
}

.--bold {
	font-weight: bold;
}

.txt-title {
	font-family: 'Libre Bodoni', serif;
	font-size: 40px;
	font-size: 400;
}

.txt-active {
	font-size: 16px;
	font-weight: bold;
	color: $text-pink;
}

a.txt-link {
	color: $text-pink;
	text-decoration: underline;
}

.header {
	font-family: 'Libre Bodoni', serif;
	font-size: 40px;
	color: $text-black;
}

svg {
	color: #737373;
}

// @media screen and (max-width: 1025px) {
// }

// @media screen and (min-width: 769px) and (max-width: 1024px) {
// }

// @media only screen and (min-width: 1024px) {
// }

// @media screen and (max-width: 768px) {
// }
