.btn {
	width: fit-content;
	border: 3px solid #000;
	border-radius: 50px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
	padding: 16px 22px;
	transition: 0.3s;
	cursor: pointer;
}

.btn:hover {
	background: #1e2242;
	color: #fff;
}

.menu-toggle {
	position: relative;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-toggle::before {
	content: '';
	position: absolute;
	width: 24px;
	height: 4px;
	background: #000;
	box-shadow: 0 8px 0 #000, 0 -8px 0 #000;
}

.btn-flat {
	border: 2px solid $text-black;
	padding: 20px;
	width: fit-content;
	cursor: pointer;
	transition: 0.3s ease-out;

	&:hover,
	&.active {
		background-color: #333333;
		color: #fff;
		transition: 0.3s ease-in;
	}
}

// @media screen and (max-width: 1025px) {
// }

// @media screen and (min-width: 769px) and (max-width: 1024px) {
// }

// @media only screen and (min-width: 1024px) {
// }

@media screen and (max-width: 768px) {
	.header {
		.menu-wrapper {
			position: relative;
		}

		.nav {
			position: absolute;
			top: calc(100% + 15px);
			right: 0;
			width: 200px;
			background: #fff;
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
			opacity: 0;
			visibility: hidden;
			transition: 300ms;
			z-index: 99;
			flex-direction: column;
			align-items: end;
		}

		.nav::before {
			content: '';
			position: absolute;
			top: -10px;
			right: 14px;
			width: 20px;
			height: 20px;
			background: #fff;
			transform: rotate(45deg);
			z-index: -1;
		}

		.nav.active {
			opacity: 1;
			visibility: visible;
			padding: 20px;

			.nav__link {
				font-size: 20px;
				gap: 20px;
			}
		}
	}
}
