.header {
	margin: 56px 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.logo {
		height: 95px;
		object-fit: cover;
		cursor: pointer;
	}

	.nav {
		display: flex;
		justify-content: flex-end;
		gap: 30px;

		&__link {
			font-size: 16px;
			cursor: pointer;
			text-transform: uppercase;
			color: $text-black;
			text-decoration: none;
		}

		.--active {
			font-weight: bold;
			color: $text-pink;
		}

		&__link:hover {
			font-weight: bold;
			color: $text-pink;
		}
	}
}

.title-box {
	display: flex;
	gap: 19px;

	.box {
		width: 94px;
		height: 18px;
		background: #b4d9f2;
	}

	h3 {
		line-height: 14px;
	}
}

.--reverse {
	flex-direction: row-reverse;
}

@media screen and (max-width: 1025px) {
	.header {
		margin: 24px;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1024px) {
}
/* Media query for screens up to 768px (smartphones) */
@media screen and (max-width: 768px) {
	.header {
		margin: 24px;

		.nav {
			flex-wrap: wrap;
		}

		.logo {
			height: 60px;
		}
	}

	.title-box {
		.box {
			width: 67px !important;
			background: #b4d9f2;
		}

		h3 {
			line-height: 14px;
			font-size: 35px;
		}
	}
}
