.header {
	margin: 56px 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.logo {
		height: 95px;
		object-fit: cover;
		cursor: pointer;
	}

	.nav {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 30px;

		&__link {
			cursor: pointer;
			color: $text-black;
			text-decoration: none;
			font-size: 16px;
			font-weight: 400;
			line-height: 19px;
			letter-spacing: 0em;
			text-align: center;

			&.box {
				border: 1.5px;
				border: 1.5px solid $text-black;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 8px;
				p {
					line-height: 21px;
				}
			}
		}

		.--active {
			font-weight: 700;
		}

		&__link.box:hover {
			color: #fff;
			svg {
				color: #fff !important;
			}
		}
	}
}

.title-box {
	display: flex;
	gap: 19px;

	.box {
		width: 94px;
		height: 18px;
		background: #b4d9f2;
	}

	h3 {
		line-height: 14px;
	}
}

.--reverse {
	flex-direction: row-reverse;
}

.wrap-toggle {
	display: flex;
	justify-content: center;
	gap: 20px;
	.mail {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (max-width: 1025px) {
	.header {
		margin: 24px;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1024px) {
}
/* Media query for screens up to 768px (smartphones) */
@media screen and (max-width: 768px) {
	.header {
		margin: 24px;

		.nav {
			flex-wrap: wrap;
		}

		.logo {
			height: 60px;
		}
	}

	.title-box {
		.box {
			width: 67px !important;
			background: #b4d9f2;
		}

		h3 {
			line-height: 14px;
			font-size: 30px;
		}
	}
}
