.header {
	margin: 56px 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.logo {
		height: 95px;
		object-fit: cover;
	}

	.nav {
		display: flex;
		gap: 30px;

		&__link {
			font-size: 16px;
			cursor: pointer;
			text-transform: uppercase;
			color: $text-black;
			text-decoration: none;
		}
	}
}
