@import './portfolio';
@import './about';
@import './projects';
@import './home';

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}
.container {
	max-width: 1140px;
	padding: 50px;
	margin: 0 auto;
	overflow: hidden;
}

@media only screen and (min-width: 769px) {
	.container {
		padding-inline: 32px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		padding-inline: 24px;
	}
}
