.personal {
	width: fit-content;
	margin: 30px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__art {
		height: 100%;
		position: relative;
		height: 313px;

		.circle {
			&--green {
				width: 241px;
				height: 241px;
				background: #d8eed3;
				border-radius: 50%;
				position: absolute;
				left: 0;
				bottom: 0;
				z-index: 2;
			}

			&--image {
				width: 282px;
				height: 282px;
				border: 3px solid #000;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				z-index: 5;
				margin-left: 83px;
			}
		}
	}

	&__desc {
		margin-left: 23px;
		text-align: left;
		&--first {
			font-family: 'Libre Bodoni', serif;
			font-size: 55px;
			line-height: 45px;
			margin-bottom: 15px;
		}

		&--second {
			line-height: 35px;
			max-width: 345px;

			span {
				color: $text-pink;
				font-weight: 500;
			}
		}
	}
}

.personal.container {
	padding-top: 0;
}

.recent_projects {
	margin: 50px;

	&__project {
		margin-top: 32px;

		@include grid-template-gap(4, 30px);

		.card {
			width: 100%;
			transition: 1s;
			cursor: pointer;

			h5 {
				margin-top: 19px;
			}

			img {
				width: 100%;
				object-fit: cover;
			}
		}
	}
}

.letconnect {
	margin: 50px;

	&__desc {
		text-align: center;
		max-width: 400px;
		margin: 10px auto;
		line-height: 30px;
	}

	&__mail {
		display: block;
		margin-top: 9px;
		color: $text-brown;
	}

	&__social {
		@include flex-gap(10px);
		margin: 10px auto 30px;
		flex-wrap: nowrap;
		cursor: pointer;
	}

	&__designed a {
		color: #000;
	}
}

@media screen and (max-width: 1025px) {
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1024px) {
}

@media screen and (max-width: 768px) {
	.recent_projects {
		margin: 50px 24px;

		&__project {
			@include grid-template-gap(1, 30px);
		}
	}

	.personal.container {
		flex-direction: column;
		gap: 30px;
		max-width: 80%;
	}

	.personal__art {
		width: 100%;

		.circle--image {
			position: absolute;
			right: 0;
		}
	}
}

// @media screen and (max-width: 1025px) {
// }

// @media screen and (min-width: 769px) and (max-width: 1024px) {
// }

// @media only screen and (min-width: 1024px) {
// }

// @media screen and (max-width: 768px) {
// }
