.header__project {
	margin: 50px auto;

	&--heading {
		text-align: center;
		text-transform: uppercase;
		font-size: 25px;
		font-weight: 600;
		margin-bottom: 15px;
	}

	&--desc {
		text-align: center;
		font-size: 30px;
		word-spacing: 2%;
		font-weight: 300;
	}
}

.veggies {
	margin-bottom: 50px;

	&__grid {
		@include grid-template-gap(2, 28px);
	}

	&__wrapper {
		&--left,
		&--right {
			width: 100%;
		}

		.image--full {
			width: 100%;
			object-fit: cover;
			margin-bottom: 30px;
		}

		&--left {
			.talent {
				p {
					width: 100%;
					text-align: justify;
					font-size: 20px;
					line-height: 30px;
					margin-bottom: 30px;
				}
			}
		}

		.talent__color {
			display: flex;
			justify-content: space-between;

			.circle {
				width: 75px;
				height: 75px;
				border-radius: 50%;
				margin: 0 auto 17px;
			}

			.text {
				text-transform: uppercase;
				align-items: center;
			}
		}

		&--right {
			.social {
				width: 100%;

				&__desc {
					margin: 32px auto 50px;
					text-align: left;
					line-height: 30px;
					word-spacing: 2%;
					font-size: 20px;
				}

				&__image {
					display: flex;
					justify-content: space-between;
				}
			}
		}
		.freebies {
			h5 {
				font-weight: 600;
				font-size: 24px;
				word-spacing: 2%;
				text-align: left;
			}

			.postcards {
				margin-top: 32px;
				display: flex;
				gap: 36px;
				width: 100%;

				&__left {
					width: 60%;
					.image--full {
						margin-top: 23px;
					}
				}

				&__right {
					flex: 1;
				}
			}
		}
	}
}

.nft {
	.header__project {
		margin-bottom: 32px;
		&--desc {
			max-width: 920px;
			margin: 0 auto;
		}
	}

	.nft__buttons {
		display: flex;
		justify-content: center;
		gap: 17px;
		margin: 0 auto 50px;
	}

	&-about {
		.row__first {
			display: flex;
			gap: 20px;
		}

		&__left {
			width: 50%;
			&--desc {
				text-align: left;
				font-size: 20px;
				line-height: 30px;
				word-spacing: 2%;
				margin-top: 32px;
			}
		}

		&__right {
			flex: 1;
			img {
				width: 100%;
			}
		}
	}

	&-chippies {
		margin-top: 50px;

		@include grid-template-gap(3, 23px);

		img {
			border: 3px solid #000;
			border-radius: 30px;
			margin-bottom: 19px;
			transition: 0.3s;
			width: 100%;
			object-fit: cover;
		}

		img:hover {
			background: #1e2242;
		}

		span {
			font-weight: 700;
			font-size: 20px;
		}
	}

	&-sneak {
		@include grid-template-gap(4, 24px);

		margin-top: 44px;

		&__column {
			width: 100%;

			img {
				margin-bottom: 24px;
				width: 100%;
				object-fit: cover;
			}
		}

		&__column:nth-child(even) {
			padding-top: 50px;
		}
	}
}

.talkshow {
	&__first {
		width: 100%;
		aspect-ratio: 29/10;
		display: flex;
		justify-content: space-between;

		img {
			height: 100%;
			object-fit: cover;
		}
	}

	&__second {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;

		img {
			width: 100%;
			object-fit: cover;
		}

		&--left {
			width: 100%;

			p {
				text-align: left;
				font-size: 18px;
				line-height: 30px;
				word-spacing: 2%;
				margin-bottom: 32px;

				span {
					font-weight: 600;
				}
			}

			.row__image {
				width: 100%;
				display: flex;
				justify-content: space-between;
				aspect-ratio: 2.1/1;

				img {
					height: 100%;
					object-fit: cover;
				}
			}
		}

		&--right img:nth-child(1) {
			margin-bottom: 17px;
		}
	}

	&__third {
		display: grid;
		grid-template-columns: 50% 50%;
		gap: 34px;

		img {
			width: 100%;
			object-fit: cover;
		}

		img.img-full {
			grid-column: span 2;
		}
	}
}

.art {
	&__grid {
		@include grid-template-gap(3, 16px);

		img {
			width: 100%;
			object-fit: cover;
		}

		img.img-full {
			grid-column: span 2;
		}

		.col-1 div {
			@include grid-template-gap(2, 16px);
		}

		.col-2 {
			@include grid-template-gap(2, 16px);

			grid-column: span 2;

			img.img-full {
				grid-column: span 2;
			}

			img:nth-child(-n + 2) {
				aspect-ratio: 2.3/3;
			}
		}
	}
}

@media screen and (max-width: 1025px) {
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.nft {
		&-about {
			.row__first {
				flex-direction: column;
			}

			&__left {
				width: 100%;
			}
		}

		&-chippies {
			@include grid-template-gap(3, 30px);

			.chippy {
				span {
					display: none;
				}
			}
		}

		&-sneak {
			@include grid-template-gap(2, 17px);
		}
	}
}

@media only screen and (min-width: 1024px) {
}
/* Media query for screens up to 768px (smartphones) */
@media screen and (max-width: 768px) {
	.veggies {
		&__wrapper {
			.freebies {
				.postcards {
					flex-direction: column;
					gap: 0;
				}

				.image--full {
					margin-bottom: 18px;
				}

				.postcards__left {
					width: 100%;

					h5 {
						font-size: 20px;
					}
				}
			}
		}

		&__third {
			@include grid-template-gap(1, 28px);
		}
	}
	.nft {
		&-about {
			.row__first {
				flex-direction: column;
			}

			&__left {
				width: 100%;
			}
		}

		&-chippies {
			@include grid-template-gap(3, 14px);

			.chippy {
				display: flex;
				flex-direction: column;

				span {
					display: none;
				}
			}
		}

		&-sneak {
			@include grid-template-gap(2, 17px);
		}
	}

	.talkshow {
		&__first {
			flex-wrap: wrap-reverse;
			width: 100%;
			aspect-ratio: unset;
			gap: 32px;

			img {
				width: 100%;
			}
		}

		&__second {
			flex-wrap: wrap;

			&--left {
				p {
					text-align: center;
					font-size: 20px;
				}
			}

			.row__image {
				gap: 18px;
			}
		}
	}
}
